// Color Variables
$color-black: #000;
$color-white: #FFF;

$link-color: #0275D8;

// Alerts
$color-danger: #DC3545;
$color-success: #28A745;

// Component Variables
$color-silver: #AAA;
$color-gallery: #EEE;
$color-yellow: #FBE700;

$color-orient: #004c7f;
$color-stratos: #001550;
$color-endeavour: #005da6;
$color-aquamarine: #5ce8ff; //B1F4FF
$color-sushi: #84bf41;
$color-pastel-green: #5fec7d;
$color-oslo-gray: #888b8d;
$color-link-water: #e7eef7;
$color-alice-blue: #eef4fc;
$color-dark-charcoal: #2E2F2F;
