// Modules
@import 'modules/variables';

// Admin Styles
.form-table,
.acf-hidden {
    + h2 {
        border-top: 1px solid $brand-primary;
        padding-top: 30px;
        margin-top: 30px;
    }
}

.form-table:last-of-type {
    margin-bottom: 60px;
    border-bottom: 1px solid $brand-primary;
}
