<%~ include('/src/views/partials/_markup-top.html', {pageTitle: 'article', bodyClass: 'tier'}) %>

<!-- Main Container -->
<main class="main-container" id="content">

   <!-- hero -->
   <section class="hero-banner hero-banner--article">
      <div class="hero-banner-media">
         <figure>
            <!-- reference assets/hero-mask.svg for a visual of below -->
            <svg class="hero-mask" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 60.1" xml:space="preserve">
               <path fill="#ffffff" d="M0,0v60.1h1440V1.4c-154,35.1-417.6,58.2-717,58.2C419.7,59.6,153.1,35.8,0,0z"/>
            </svg>
         </figure>
      </div>
   </section>

   <section class="container layout--article">
      <!-- left rail -->
      <div class="left-aside">
         <ul class="article-social">
            <li>Share</li>
            <li>
               <a href="#">
                  <span class="icon-social-facebook"></span>
                  <span class="sr-only">facebook</span>
               </a>
            </li>
            <li>
               <a href="#">
                  <span class="icon-social-linkedin"></span>
                  <span class="sr-only">linkedin</span>
               </a>
            </li>
            <li>
               <a href="#">
                  <span class="icon-social-twitter"></span>
                  <span class="sr-only">twitter</span>
               </a>
            </li>
         </ul>
      </div>

      <!-- main article content -->
      <div class="main-content">

         <div class="navigation">
            <ul class="inline">
               <li><a href="#">Artificial Intelligence</a></li>
               <li><a href="#">Article</a></li>
            </ul>
         </div>

         <div class="article-intro">
            <h1 class="article-intro-heading">A new legacy: Generational Health</h1>
            <p>Dr. Jonathan Rubens, Chief Medical Officer, ActiveHealth</p>
            <p><small>January 25, 2021</small></p>
         </div>

         <div class="content-well">
            <p class="large">The approaching holidays spark a sense of nostalgia, especially this year as we try to recapture a holiday season closer to ones we’ve known before. This season is a chance to revisit and renew traditions and reconnect with family and loved ones.</p>
            <p>Our holiday traditions make up a family legacy – an inheritance of sorts. Many of our first lessons are at home. We learn to be social and model behaviors; we develop habits and preferences. We learn how and what to eat, and that grandpa mashes potatoes better than anyone else in the family. We learn that Saturdays are a good time for recreational pursuits, and that Sunday afternoons are prime time for naps. We carry these and other lessons and habits with us and we teach them to our own families.</p>
            <p>There’s a term called generational wealth that refers to inheritance, usually large amounts of money or property passed down from generation to generation. If you need an example of what that might look like, think of Downton Abbey. That’s firmly in the fiction category for most of us, but generational health isn’t fiction and need not be. The concept of generational health suggests that our family history affects our health, and not just in terms of genetic predispositions.</p>
         </div>
      </div>
   </section>

   <section class="container">
      <figure class="article-image">

         <button class="article-image-button" data-bs-toggle="modal" data-bs-target="#example-video-modal" data-gtm="">
            <span class="sr-only">Play video</span>
            <span class="icon-video-play"></span>
         </button>
      </figure>
   </section>

   <section class="container layout--article">
      <!-- left rail -->
      <div class="left-aside"></div>

      <!-- main content -->
      <div class="main-content">
         <div class="content-well">
            <p>Children who see their parents being active, and enjoying it, are more likely to be active themselves. They’re also more likely to be active as teenagers, to carry the habit into their adult years and to teach their own children to enjoy an active lifestyle. Family dinners are a chance to pass down recipes that are important to your family and cultural history, and they’re also a chance to connect with each other face to face at least once a day. They’re also a venue to teach good nutrition habits. If healthy food choices and eating habits are the default options, we’re far less likely to develop and pass along unhealthy habits as we get older. Meals together offer communion as well as a chance for lively discussions and can provide a safe space to foster self-confidence and self-esteem.</p>

            <blockquote class="blockquote">
               <p>Pull quote lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </blockquote>

            <p>This year, as you’re planning your holiday gatherings, I encourage you to notice and enjoy the traditions – both purposeful and unconscious – that you’ve carried forward. More than that, though, I encourage you to think about how you can contribute to generational health within your own family, both genetic and chosen, this holiday season and into the New Year.</p>
         </div>
      </div>
   </section>

   <section class="container">
      <div class="callout-grid">
         <!-- callout -->
         <div class="callout">
            <figure class="callout-image">
            </figure>

            <div class="callout-content">
               <div class="callout-copy">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae fringilla elit. Aenean lacinia erat sed velit porttitor, ut venenatis tellus pellentesque. In id lacus eu risus facilisis tempor nec non velit.
               </div>
            </div>
         </div>

         <!-- callout -->
         <div class="callout">
            <figure class="callout-image">
            </figure>

            <div class="callout-content">
               <div class="callout-copy">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae fringilla elit. Aenean lacinia erat sed velit porttitor, ut venenatis tellus pellentesque. In id lacus eu risus facilisis tempor nec non velit.
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="container layout--article">
      <!-- left rail -->
      <div class="left-aside"></div>

      <!-- main content -->
      <div class="main-content">
         <div class="content-well">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         </div>
      </div>
   </section>

   <section class="card-group-container">
      <div class="card-group" data-max-columns="3">
         <h2 class="card-group-heading">Related Articles</h2>

         <!-- card media -->
         <div class="card card--media">
            <!-- card content -->
            <div class="card-content">
               <ul class="card-content-taxonomy">
                  <li class="card-content-taxonomy-item">
                     <a href="#" class="card-content-taxonomy-link">Behavioral Health</a>
                  </li>
                  <li class="card-taxonomy-item">
                     <a href="#" class="card-content-taxonomy-link">Article</a>
                  </li>
               </ul>

               <a href="#" class="card-content-link">The three stages of the health and wellness journey</a>
            </div>

            <!-- card image -->
            <figure class="card-image">
               <img class="lazy-load" src="https://picsum.photos/id/517/300/150" alt="placeholder">
            </figure>
         </div>

         <!-- card media -->
         <div class="card card--media">
            <!-- card content -->
            <div class="card-content">
               <ul class="card-content-taxonomy">
                  <li class="card-content-taxonomy-item">
                     <a href="#" class="card-content-taxonomy-link">Behavioral Health</a>
                  </li>
                  <li class="card-taxonomy-item">
                     <a href="#" class="card-content-taxonomy-link">Article</a>
                  </li>
               </ul>

               <a href="#" class="card-content-link">The three stages of the health and wellness journey</a>
            </div>

            <!-- card image -->
            <figure class="card-image">
               <img class="lazy-load" src="https://picsum.photos/id/517/300/150" alt="placeholder">
            </figure>
         </div>

         <!-- card media -->
         <div class="card card--media">
            <!-- card content -->
            <div class="card-content">
               <ul class="card-content-taxonomy">
                  <li class="card-content-taxonomy-item">
                     <a href="#" class="card-content-taxonomy-link">Behavioral Health</a>
                  </li>
                  <li class="card-taxonomy-item">
                     <a href="#" class="card-content-taxonomy-link">Article</a>
                  </li>
               </ul>

               <a href="#" class="card-content-link">The three stages of the health and wellness journey</a>
            </div>

            <!-- card image -->
            <figure class="card-image">
               <img class="lazy-load" src="https://picsum.photos/id/517/300/150" alt="placeholder">
            </figure>
         </div>

         <a href="#" class="card-group-button">View All Resources</a>
      </div>
   </section>

</main>

<!-- video modal -->
<div id="example-video-modal" class="modal fade modal--video" tabindex="-1" role="dialog" aria-labelledby="example-video-modal-title" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <!-- video modal - header -->
         <div class="modal-header">
            <!-- modal - dismiss -->
            <button type="button" class="modal-dismiss-button" data-bs-dismiss="modal" aria-label="Close" data-gtm=""></button>
            <!-- modal - title -->
            <h2 class="modal-title" id="example-video-modal-title">Modal title (optional)</h2>
         </div>
         <!-- video modal - body -->
         <div class="modal-body">
            <!-- embed -->
            <div class="embed-responsive embed-responsive-16by9">
               <iframe src="https://www.youtube.com/embed/ScMzIvxBSi4" class="embed-responsive-item" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
            </div>
         </div>
         <!-- video modal - footer -->
         <div class="modal-footer">
            <!-- collapse item -->
            <div class="collapse-item">
               <button class="collapse-trigger collapsed" role="tab" data-bs-toggle="collapse" data-bs-target="#example-video-collapse-001" aria-expanded="false" aria-controls="example-video-collapse-001" data-gtm="">Transcript</button>
               <div id="example-video-collapse-001" class="collapse-target collapse" role="tabpanel">
                  <div class="collapse-content">
                     <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                     </p></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<%~ include('/src/views/partials/footer.html') %>
<%~ include('/src/views/partials/_markup-bottom.html') %>

