// Core Variables
@import "../../modules/colors";
$enable-grid-classes: true !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1600px
) !default;

@include _assert-ascending($container-max-widths, '$container-max-widths');

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

// Transitions
$transition-fade: opacity .15s linear !default;
$transition-collapse: height .35s ease !default;
$enable-transitions: true !default;
$enable-prefers-reduced-motion-media-query: true !default;


// Modals
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;

// Padding applied to the modal body
$modal-inner-padding: 1rem !default;

$modal-dialog-margin: .5rem !default;
$modal-dialog-margin-y-sm-up: 1.75rem !default;

//$modal-title-line-height: $line-height-base !default;

$modal-content-color: null !default;
$modal-content-bg: $color-white !default;
$modal-content-border-color: rgba($color-black, .2) !default;
$modal-content-border-width: 1px !default;
$modal-content-border-radius: 4px !default;
$modal-content-box-shadow-xs: 0 .25rem .5rem rgba($color-black, .5) !default;
$modal-content-box-shadow-sm-up: 0 .5rem 1rem rgba($color-black, .5) !default;

$modal-backdrop-bg: $color-black !default;
$modal-backdrop-opacity: .5 !default;
$modal-header-border-color: $color-black !default;
$modal-footer-border-color: $modal-header-border-color !default;
$modal-header-border-width: $modal-content-border-width !default;
$modal-footer-border-width: $modal-header-border-width !default;
$modal-header-padding-y: 1rem !default;
$modal-header-padding-x: 1rem !default;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

$modal-xl: 1440px !default;
$modal-lg: 1140px !default;
$modal-md: 800px !default;
$modal-sm: 500px !default;

$modal-fade-transform: translate(0, -50px) !default;
$modal-show-transform: none !default;
$modal-transition: transform .3s ease-out !default;


// Carousel
$enable-gradients:                            false !default;
$slick-color:             $color-white !default;
$slick-width:             75px !default;
$slick-opacity:           .5 !default;
$slick-hover-opacity:     .9 !default;
$slick-transition:        opacity .15s ease !default;

$carousel-indicator-width:           30px !default;
$carousel-indicator-height:          30px !default;
$carousel-indicator-hit-area-height: 10px !default;
$carousel-indicator-spacer:          3px !default;
$carousel-indicator-active-bg:       $color-white !default;
$carousel-indicator-transition:      opacity .6s ease !default;

$carousel-caption-width:             70% !default;
$carousel-caption-color:             $color-white !default;

$slick-icon-width:        20px !default;

$slick-prev-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#{$slick-color}' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e"), "#", "%23") !default;
$slick-next-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#{$slick-color}' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e"), "#", "%23") !default;

$carousel-transition-duration:       .6s !default;
$carousel-transition:                transform $carousel-transition-duration ease-in-out !default; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)
