<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title><%= pageTitle %></title>
    <meta name="description" content="test" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">

   <script defer src="Scripts/app.js"></script>
   <link href="Styles/app.css" rel="stylesheet">

</head>

<body class="<%= bodyClass %>">

	<!-- Skip Nav -->
	<div id="skip-nav">
		<a href="#main">Skip Navigation</a>
	</div>
