<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title><%= pageTitle %></title>
    <meta name="description" content="test" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">

    <!-- load source files: images, SCSS, JS, etc, using webpack aliases -->
    <link href="@images/favicon-1.png" rel="icon" />
    <link href="@styles/app.scss" rel="stylesheet">
    <script defer src="@scripts/app.js"></script>
</head>

<body class="<%= bodyClass %>">

  <!-- Skip Nav -->
  <div id="skip-nav">
    <a href="#main">Skip Navigation</a>
  </div>
