<!-- Contact CTA -->
<div class="cta-contact">
	<img src="@images/cta-contact.jpg" class="cta-contact-image object-fit" alt="Contact Us">
	<div class="cta-contact-container">
		<h2 class="cta-contact-title">Discover how HDMS data analytics and services benefit customers across the healthcare continuum</h2>
		<a href="#" class="cta-contact-btn">Contact us</a>
	</div>
</div>

<!-- Footer -->
<footer class="main-footer">

	<!-- Container -->
	<div class="main-footer-container">

		<!-- Logo -->
		<div class="main-footer-logo">
			<img src="@images/logos/logo-footer.svg" class="" alt="">
		</div>

		<!-- Navigation -->
		<div class="main-footer-navigation">
			<ul class="footer-menu-list">
				<li>
					<a href="#">Employer solutions</a>
				</li>
				<li>
					<a href="#">Health plan solutions</a>
				</li>
				<li>
					<a href="#">Provider solutions</a>
				</li>
				<li>
					<a href="#">Brokers &amp; consultants solutions</a>
				</li>
			</ul>
			<ul>
				<li>
					<a href="#">About us</a>
				</li>
				<li>
					<a href="#">Knowledge center</a>
				</li>
				<li>
					<a href="#">Career</a>
				</li>
				<li>
					<a href="#">Contact us</a>
				</li>
				<li>
					<a href="#">Events</a>
				</li>
			</ul>
			<ul class="social">
				<li>
					<a href="#" aria-label="Link to HDMS's LinkedIn"><img src="@images/icon-linkedin-2x.png" width="19"/></a>
				</li>
				<li>
					<a href="#" aria-label="Link to HDMS's Twitter"><img src="@images/icon-twitter-2x.png" width="21"/></a>
				</li>
			</ul>
			<a href="#skip-nav" class="back-to-top anchor-link"><img src="@images/back-to-top-2x.png" width="20" alt=""> Top</a>
		</div>
	</div>

	<!-- Copyright -->
	<div class="main-footer-copyright">

		<!-- Container -->
		<div class="main-footer-copyright-container">
			<p>&copy; 2019 Health Data & Management Solutions, Inc.</p>
		</div>
	</div>
</footer>
