<!-- Header -->
<div id="headerMain" class="header-main">
	
	<!-- Mobile Menu -->
	<button class="nav-collapse-mobile collapsed" type="button" data-toggle="collapse" data-target="#nav-toggle" aria-controls="nav-toggle" aria-expanded="false" aria-label="Toggle navigation">
		<span class="nav-collapse-mobile-button">
			<span class="hamburger-menu"></span>
		</span>
		<span class="nav-collapse-mobile-text">Close</span>
	</button>
	
	<!-- Logo -->
	<div class="logo-container">
		<a href="/home.html">
			<img src="${require('../../images/logos/logo-white.svg')}" class="logo logo-home" alt="Aetna">
			<img src="${require('../../images/logos/logo-color.svg')}" class="logo logo-primary" alt="Aetna HDMS">
		</a>
	</div>
	
	<!-- Main Navigation -->
	<div class="main-navigation">
		<nav class="navbar navbar-expand-lg">
			<div class="collapse navbar-collapse" id="nav-toggle">
				
				<!-- Navbar Collapse Wrapper -->
				<div class="navbar-collapse-wrapper">
				
					<!-- Sub-navigation -->
					<div class="sub-navigation">
						<ul>
							<li class="contact-us">
								<a class="sub-navigation-icon" href="#">
									Contact Us
								</a>
							</li>
							<li class="client-login">
								<a class="sub-navigation-icon" href="#">
									Client login
								</a>
							</li>
							<li class="search">
								<a class="sub-navigation-icon" data-toggle="collapse" href="#collapseSearchGlobal" role="button" aria-expanded="false" aria-controls="collapseSearchGlobal">
									Search
								</a>
							</li>
						</ul>
					</div>
					
					<!-- Navbar -->
					<ul class="navbar-nav">
						<li class="nav-item dropdown active">
							<a class="nav-link dropdown-toggle" href="../solutions.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span>Solutions & services</span>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<ul>
									<li class="nav-item">
										<a class="dropdown-item" href="#">
                                            <span>For employers</span>
                                        </a>
									</li>
									<li class="nav-item active">
										<a class="dropdown-item" href="#">
                                            <span>For health plans</span>
                                        </a>
									</li>
									<li class="nav-item">
										<a class="dropdown-item" href="#">
                                            <span>For providers</span>
                                        </a>
									</li>
									<li class="nav-item">
										<a class="dropdown-item" href="#">
                                            <span>For brokers &amp; consultants</span>
                                        </a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../knowledge-center.html">
								<span>Knowledge Center</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../about-us.html">
								<span>About us</span>
							</a>
						</li>
                        <li class="nav-link-btn menu-item nav-item">
                            <a title="Video: Who is HDMS?" href="/videos/who-is-hdms/" class="nav-link">
                                <span><span class="uppercase">Video:</span> Who is HDMS?</span>
                            </a>
                        </li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</div>
