<link href="../../../dist/css/app.css" rel="stylesheet">

<!-- Preview Container -->
<div id="fontPreviewContainer" style="padding: 30px 0;">

   <!-- Container -->
   <div data-max-columns="auto">

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-accessibility"></span>
               </div>
               <div>accessibility</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-add"></span>
               </div>
               <div>add</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-alert-error-outline"></span>
               </div>
               <div>alert-error-outline</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-alert-error"></span>
               </div>
               <div>alert-error</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-alert-info-outline"></span>
               </div>
               <div>alert-info-outline</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-alert-info"></span>
               </div>
               <div>alert-info</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-alert-warning"></span>
               </div>
               <div>alert-warning</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-arrow-down"></span>
               </div>
               <div>arrow-down</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-arrow-left"></span>
               </div>
               <div>arrow-left</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-arrow-right"></span>
               </div>
               <div>arrow-right</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-arrow-up"></span>
               </div>
               <div>arrow-up</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-callout-arrow-right"></span>
               </div>
               <div>callout-arrow-right</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-caret-down"></span>
               </div>
               <div>caret-down</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-caret-left"></span>
               </div>
               <div>caret-left</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-caret-right"></span>
               </div>
               <div>caret-right</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-caret-up"></span>
               </div>
               <div>caret-up</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-checkbox-checked"></span>
               </div>
               <div>checkbox-checked</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-checkbox-unchecked"></span>
               </div>
               <div>checkbox-unchecked</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-checkmark"></span>
               </div>
               <div>checkmark</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-chevron-down"></span>
               </div>
               <div>chevron-down</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-chevron-left"></span>
               </div>
               <div>chevron-left</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-chevron-right"></span>
               </div>
               <div>chevron-right</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-chevron-up"></span>
               </div>
               <div>chevron-up</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-circle-add"></span>
               </div>
               <div>circle-add</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-circle-cancel"></span>
               </div>
               <div>circle-cancel</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-circle-checkmark"></span>
               </div>
               <div>circle-checkmark</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-circle-remove"></span>
               </div>
               <div>circle-remove</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-close"></span>
               </div>
               <div>close</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-email"></span>
               </div>
               <div>email</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-favorite-outline"></span>
               </div>
               <div>favorite-outline</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-favorite"></span>
               </div>
               <div>favorite</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-help-outline"></span>
               </div>
               <div>help-outline</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-help"></span>
               </div>
               <div>help</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-location"></span>
               </div>
               <div>location</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-menu"></span>
               </div>
               <div>menu</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-phone"></span>
               </div>
               <div>phone</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-quote-left"></span>
               </div>
               <div>quote-left</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-quote-right"></span>
               </div>
               <div>quote-right</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-quote_green"></span>
               </div>
               <div>quote_green</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-radio-checked"></span>
               </div>
               <div>radio-checked</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-radio-unchecked"></span>
               </div>
               <div>radio-unchecked</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-remove"></span>
               </div>
               <div>remove</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-search"></span>
               </div>
               <div>search</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-share"></span>
               </div>
               <div>share</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-shuffle"></span>
               </div>
               <div>shuffle</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-social-facebook-square"></span>
               </div>
               <div>social-facebook-square</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-social-facebook"></span>
               </div>
               <div>social-facebook</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-social-instagram"></span>
               </div>
               <div>social-instagram</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-social-linkedin-square"></span>
               </div>
               <div>social-linkedin-square</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-social-linkedin"></span>
               </div>
               <div>social-linkedin</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-social-primacy"></span>
               </div>
               <div>social-primacy</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-social-twitter-square"></span>
               </div>
               <div>social-twitter-square</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-social-twitter"></span>
               </div>
               <div>social-twitter</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-social-vimeo-square"></span>
               </div>
               <div>social-vimeo-square</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-social-vimeo"></span>
               </div>
               <div>social-vimeo</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-social-youtube-play"></span>
               </div>
               <div>social-youtube-play</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-social-youtube-square"></span>
               </div>
               <div>social-youtube-square</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-social-youtube"></span>
               </div>
               <div>social-youtube</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-star-half"></span>
               </div>
               <div>star-half</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-star-outline"></span>
               </div>
               <div>star-outline</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-star"></span>
               </div>
               <div>star</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-time"></span>
               </div>
               <div>time</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-video-pause"></span>
               </div>
               <div>video-pause</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-video-play"></span>
               </div>
               <div>video-play</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-visibility-off"></span>
               </div>
               <div>visibility-off</div>
            </div>
         </div>

         <!-- Item -->
         <div style="display: inline-block; margin: 10px;">

            <!-- Content -->
            <div style="text-align: center; font-size: 12px;">
               <div style="font-size: 22px; line-height: 1; margin-bottom: 5px;">
                  <span class="icon-visibility-on"></span>
               </div>
               <div>visibility-on</div>
            </div>
         </div>
   </div>
</div>
